.main-header{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: black;
    align-items: center;
}

.search-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: left;
    width: 60%;
}

.search-header img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.search-header input {
    margin-left: 10px;
    margin-left: 10px;
    background-color: white;
    border: 0;
    border-radius: 7px;
    width: 450px;
    max-width: 300px;
    height: 30px;
}

.search-header input::placeholder{
    font-size: 15px;
    color: #777;
    text-align: center;
}

.buttons-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 40%;
}

.buttons-header button {
    height: 60%;
    width: 60px;
    border: 0;
    background: 0;
}

.buttons-header button img {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color: black;
}